@model RPS.Web.Pages.Backlog.PtItemDetailsVm

<form method="post">
    <input type="hidden" asp-for="@Model.Id" />


    <div class="form-group row">
        <label asp-for="@Model.Title" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <kendo-textbox name="Title" value="@Model.Title" style="width: 100%;">
            </kendo-textbox>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <kendo-textarea name="Description" rows="3" value="@Model.Description" style="width: 100%;height:60px;">
            </kendo-textarea>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.Estimate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <kendo-slider for="@Model.Estimate" min="0" max="20" large-step="1" style="width: 100%;"></kendo-slider>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.SelectedItemType" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <kendo-dropdownlist 
                name="SelectedItemType" 
                value="@Model.SelectedItemType" 
                bind-to="Model.ItemTypes" 
                template-id="templateItemType"
                style="width: 100%;">
            </kendo-dropdownlist>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.SelectedStatus" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <kendo-dropdownlist 
                name="SelectedStatus" 
                value="@Model.SelectedStatus" 
                bind-to="Model.Statuses" 
                style="width: 100%;">
            </kendo-dropdownlist>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.SelectedPriority" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <kendo-dropdownlist 
                name="SelectedPriority" 
                value="@Model.SelectedPriority" 
                bind-to="Model.Priorities" 
                template="<span class='badge priority-#:data.toLowerCase()#'>#: data #</span>"
                style="width: 100%;">
            </kendo-dropdownlist>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="@Model.SelectedAssigneeId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <kendo-dropdownlist name="SelectedAssigneeId" value="@Model.SelectedAssigneeId" bind-to="Model.Users" style="width: 100%;"></kendo-dropdownlist>
        </div>
    </div>


    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>


<script id="templateItemType" type="text/x-kendo-template">
    <img src="@Url.Content("~/images/icon_#:data#.png")" class="backlog-icon" />
    <span>#: data #</span>
</script>