@page "/Backlog/{Preset?}"
@model RPS.Web.Pages.Backlog.ItemsModel


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Backlog</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a class="btn btn-secondary" asp-page="Items" asp-route-Preset="My">My Items</a>
            <a class="btn btn-secondary" asp-page="Items" asp-route-Preset="Open">Open Items</a>
            <a class="btn btn-secondary" asp-page="Items" asp-route-Preset="Closed">Done Items</a>
        </div>

        <div class="btn-group mr-2">
            <a class="btn btn-secondary" asp-page="Create">Add</a>
        </div>

    </div>
</div>


@*<kendo-grid name="grid" height="550">
        <datasource type="DataSourceTagHelperType.WebApi" page-size="10" server-operation="false">
            <transport>
                <read data="[{ id: 1, title: ''Hello' }]" />
            </transport>

            <schema>
                <model id="id">
                    <fields>
                        <field name="id" type="number"></field>
                        <field name="title" type="string"></field>
                    </fields>
                </model>
            </schema>

        </datasource>

        <columns>
            <column field="title" title="Title" />

        </columns>

    </kendo-grid>*@


@(Html.Kendo().Grid(Model.GridData)
                .Name("grid1")
                .DataSource(dataSource =>
                    dataSource
                        .Ajax()
                        .PageSize(10)
                        .ServerOperation(false)
                 )
                .Columns(columns =>
                {
                    columns.Bound(c => c.Type).Title(" ").Width(50);
                    columns.Bound(p => p.AssigneeAvatar).Title("Assignee").Width(120);
                    columns.Bound(p => p.Title).Title("Title");
                    columns.Bound(i => i.Priority).Width(100);
                    columns.Bound(i => i.Estimate).Width(100);
                    columns.Bound(i => i.DateCreated).Title("Created").Width(160);
                })
                .ClientRowTemplate("<tr>" +
                    "<td><div class='pt-indicator' data-id='#:data.Id#'><img src='#:imageResFromType(data.Type)#' class='backlog-icon' /></div></td>" +
                        "<td><img src='/#:data.AssigneeAvatar#' class='li-avatar rounded mx-auto d-block' /></td>" +
                        "<td><span class='li-title'>#:data.Title#</span></td>" +
                        "<td><span class='badge #:getIndicatorClass(data.Priority)#'>#:data.Priority#</span></td>" +
                        "<td><span class='li-estimate'>#:data.Estimate#</span></td>" +
                        "<td><span class='li-date'>#:data.DateCreated.toDateString()#</span></td>" +
                    "</tr>")
                .Pageable()
                .Sortable()
                .Scrollable(scr => scr.Height(430))
                .Selectable()
                .Events(events =>
                {
                    events.Change("onChange");
                })
)

@*<script id="templateItemType" type="text/x-kendo-template">
    <div>
        <span>#:data.Type#</span>
    </div>
</script>*@



@*<div class="table-responsive">
    <table class="table table-striped table-sm table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Assignee</th>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Estimate</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr class="pt-table-row" onclick="location.href = '/@item.Id/Details'">

                    <td>
                        <item-type-indicator item-type="@item.Type" class="backlog-icon"></item-type-indicator>
                    </td>
                    <td>
                        <user-avatar user="@item.Assignee"></user-avatar>
                    </td>
                    <td><span class="li-title">@Html.DisplayFor(modelItem => item.Title)</span></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <priority-indicator priority="@item.Priority"></priority-indicator>
                    </td>
                    <td><span class="li-estimate">@Html.DisplayFor(modelItem => item.Estimate)</span></td>
                    <td><span class="li-date">@item.DateCreated.ToString("MMM d, yyyy")</span></td>
                </tr>
            }
        </tbody>
    </table>
</div>*@


@section styles {
    <link href="~/css/backlog.css" rel="stylesheet" />
}

@section scripts {

    <script>
         function imageResFromType(ptItemType) {
            switch (ptItemType) {
                case 'PBI':
                    return '/images/icon_pbi.png';
                case 'Bug':
                    return '/images/icon_bug.png';
                case 'Chore':
                    return '/images/icon_chore.png';
                case 'Impediment':
                    return '/images/icon_impediment.png';
                default:
                    return '';
            }
        }

        function getIndicatorClass(priority) {
            switch (priority) {
                case 'Critical':
                    return 'priority-critical';
                case 'High':
                    return 'priority-high';
                case 'Medium':
                    return 'priority-medium';
                case 'Low':
                    return 'priority-low';
                default:
                    return '';
            }
        }


        function onChange(arg) {
            var rows = arg.sender.select();
            var itemId = $($(rows[0]).find('.pt-indicator')[0]).attr('data-id');
            window.location.href = `/${itemId}/Details`;
        }
    </script>

}