@page
@model RPS.Web.Pages.DashboardModel

@{
    var userId = ViewData["userId"];
    var months = ViewData["months"];
}

<div class="dashboard">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">

        <div class="col-md order-md-first text-center text-md-left">
            <h2>
                <span class="small text-uppercase text-muted d-block">Statistics</span>
                @if (Model.DateStart.HasValue && Model.DateEnd.HasValue)
                {
                    <span id="spanFilteredDateRange">
                        @Model.DateStart.Value.ToString("MMM d, yyyy") - @Model.DateEnd.Value.ToString("MMM d, yyyy")
                    </span>
                }

            </h2>
        </div>



        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <kendo-combobox name="filterAssignee" filter="FilterType.Contains"
                                bind-to="Model.Assignees"
                                value="@Model.SelectedAssigneeId"
                                placeholder="Select assignee.."
                                datatextfield="FullName"
                                datavaluefield="Id"
                                on-change="onAssigneeChange"
                                style="width: 260px;"
                                template-id="templateAssignee">
                </kendo-combobox>

            </div>

            <div class="btn-group mr-2">
                <kendo-button name="btnFilterMonths3" on-click="function() { location.href = '/?months=3&userId=@userId'; }" icon="calendar">3 Months</kendo-button>
                <kendo-button name="btnFilterMonths6" on-click="function() { location.href = '/?months=6&userId=@userId'; }" icon="calendar">6 Months</kendo-button>
                <kendo-button name="btnFilterMonths12" on-click="function() { location.href = '/?months=12&userId=@userId'; }" icon="calendar">1 Year</kendo-button>
            </div>
        </div>
    </div>

    <script id="tmplActiveIssues" type="text/x-kendo-template">
                        <div class="active-issues">
                    <span class="comp-label">
                        <strong>@Model.IssueCountActive</strong>
                        <small>Active issues</small>
                    </span>
                </div>
    </script>

    <script id="tmplClosedIssues" type="text/x-kendo-template">
                <div class="text-success closed-issues">
                    <span class="comp-label">
                        <strong>@Model.IssueCountClosed</strong>
                        <small>Closed issues</small>
                    </span>
                </div>
    </script>

    <script id="tmplOpenIssues" type="text/x-kendo-template">
                <div class="text-danger open-issues">
                    <span class="comp-label">
                        <strong>@Model.IssueCountOpen</strong>
                        <small>Open issues</small>
                    </span>
                </div>
    </script>

    <script id="tmplCloseRate" type="text/x-kendo-template">
                <div class="close-rate">
                    <span class="comp-label">
                        <strong>@Model.IssueCloseRate</strong>
                        <small>Close rate</small>
                    </span>
                    <p class="m-0 small text-uppercase text-muted">
                        Highest:
                        100%
                        on Oct 11, 2018
                    </p>
                    <p class="m-0 small text-uppercase text-muted">
                        Lowest:
                        20%
                        on Oct 9, 2018
                    </p>
                </div>
    </script>

    <script id="tmplChart" type="text/html">

        <kendo-chart name="chart2" theme="sass"  is-in-client-template="true">
            <chart-title text="All Issues"></chart-title>

            <series-defaults gap="0.06"
                type="ChartSeriesType.Column">
                <stack enabled="true" />
            </series-defaults>

            <series>
                <series-item data="Model.ItemsOpenByMonth"
                    name="Open"
                    color="#CC3458"
                    opacity="0.7">
                </series-item>
                <series-item data="Model.ItemsClosedByMonth"
                    name="Closed"
                    color="#35C473"
                    opacity="0.7">
                </series-item>
            </series>

            <category-axis>
                <category-axis-item type="ChartCategoryAxisType.Date"
                    categories="Model.Categories"
                    base-unit="ChartAxisBaseUnit.Months">
                    <major-grid-lines visible="false" />
                </category-axis-item>
            </category-axis>

            <chart-legend position="ChartLegendPosition.Bottom"></chart-legend>

        </kendo-chart>

    </script>


    @(Html.Kendo().TileLayout()
        .Name("tilelayout")
        .Columns(4)
        .Containers(c => {
            c.Add().Header(h => h.Text("ACTIVE")).BodyTemplateId("tmplActiveIssues");
            c.Add().Header(h => h.Text("CLOSED")).BodyTemplateId("tmplClosedIssues");
            c.Add().Header(h => h.Text("OPEN")).BodyTemplateId("tmplOpenIssues");
            c.Add().Header(h => h.Text("CLOSE RATE")).BodyTemplateId("tmplCloseRate");
            c.Add().Header(h => h.Text("ALL")).BodyTemplateId("tmplChart");
        })
        .Reorderable(true)
        .Resizable(true)
    )



</div>


<script id="templateAssignee" type="text/x-kendo-template">
    <div class="row" style="margin-left: 5px;">
        <img src="@Url.Content("~/#:data.Avatar#")" class="li-avatar rounded mx-auto" />
        <span style="margin-left: 5px;">#:data.FullName#</span>
    </div>
</script>


@section styles {
    <link href="~/css/dashboard.css" rel="stylesheet" />
}

@section scripts {
    <script>

        @{
            var userIdParam = "";
            var monthsParam = "";
            if (userId != null)
            {
                userIdParam = "&userId=" + userId;
            }
            if (months != null)
            {
                monthsParam = "months=" + months;
            }
        }


        function onAssigneeChange(e) {
            var userId = e.sender.value();
            if (userId) {
                location.href = `/?userId=${userId}&@Html.Raw(monthsParam)`;
            } else {
                location.href = `/?@Html.Raw(monthsParam)`;
            }
        }



        function onFilterItemClick(months) {
              location.href = `/?months=${months}@Html.Raw(userIdParam)`;
        }

    </script>
}
